@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
  /* background: url("bg.png"), -webkit-linear-gradient(bottom, #0250c5, #d43f8d); */
  background-color: #20bf55;
  /* background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%); */
}
::selection{
  color: #fff;
  background: green;
}
.containerstep{
  /* margin-top: 30px; */
  max-width: 547px;
  margin: 30px auto 0;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 10px 35px 10px 35px;
  box-shadow: 0px 0px 20px #000000;
}
.container{
    max-width: 547px;
    margin: 0 auto 30px;
    padding: 20px;
    box-shadow: 0px 0px 20px #000000;
    background-color: white;
    border-radius: 8px;
    /* margin-bottom: 30px; */
  }
.containerstep header{
  font-size: 35px;
  color: green;
  font-weight: 600;
  margin: 0 10px 0;
}
.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 500%;
}
.h-divider {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 0;
    width: 100%;
    position: relative;
  }
  .h-divider .shadow {
    overflow: hidden;
    height: 20px;
  }
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }
  hr.line {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px green inset;
  }
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  color: blue;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .field{
  width: 80%; /* 565px */
  height: 45px;
  margin: 45px 0;
  display: flex;
  position: relative;
}
.form-outer form .page .fieldclient{
  width: 80%; /* 565px */
  height: 45px;
  margin: 45px 0;
  margin-bottom: 529px;
  display: flex;
  position: relative;
}
.form-outer form .page .fieldproposed{
  width: 80%; /* 565px */
  height: 45px;
  margin: 45px 0;
  margin-bottom: 529px; /* 455px */
  display: flex;
  position: relative;
}
.form-outer form .page .fieldterminated{
  width: 80%; /* 565px */
  height: 45px;
  margin: 45px 0;
  margin-bottom: 155px; /* 133px */
  display: flex;
  position: relative;
}
.form-outer form .page .fieldbutton{
  width: 98%;
  height: 45px;
  /* margin: 45px 0; */
  display: flex;
  position: relative;
}
form .page .field .label{
  position: absolute;
  top: -30px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
form .page .fieldclient .label{
  position: absolute;
  top: -30px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
form .page .fieldclient .label p{
  font-size: 15px;
  font-weight: 100;
}
form .page .fieldproposed .label{
  position: absolute;
  top: -30px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
form .page .fieldproposed .label p{
  font-size: 15px;
  font-weight: 100;
}
form .page .fieldterminated .label{
  position: absolute;
  top: -30px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
form .page .fieldterminated .label p{
  font-size: 15px;
  font-weight: 100;
}
form .page .field input,
form .page .field select {
  /* height: 100%; */
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  /* padding-left: 15px; */
  font-size: 15px;
  margin-top: 5px;
  margin-right: 15px;
  padding: 5px;
}
form .page .fieldclient textarea {
  /* height: 100%; */
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  /* padding-left: 15px; */
  font-size: 15px;
  margin-top: 57px; /* 57px */
  margin-bottom: 30px;
  margin-right: 15px;
  padding: 5px;
}
form .page .fieldproposed textarea {
  /* height: 100%; */
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  /* padding-left: 15px; */
  font-size: 15px;
  margin-top: 57px; /* 34px */ /* 57px */
  margin-bottom: 30px;
  margin-right: 15px;
  padding: 5px;
}
form .page .fieldterminated textarea {
  /* height: 100%; */
  width: 100%;
  border: 1px solid grey;
  border-radius: 5px;
  /* padding-left: 15px; */
  font-size: 15px;
  margin-top: 57px; /* 34px */ /* 57px */
  margin-bottom: 30px;
  margin-right: 15px;
  padding: 5px;
}
textarea {
    resize: none;
    height: fit-content;
    /* margin: auto; */
}
form .page .field .price input {
  /* height: 100%; */
  width: 85%;
  border: 1px solid grey;
  border-radius: 5px;
  /* padding-left: 15px; */
  font-size: 15px;
  margin-top: 5px;
  margin-right: 15px;
  padding: 5px;
}
form .page .field .date input {
  /* height: 100%; */
  width: 84%;
  border: 1px solid grey;
  border-radius: 5px;
  /* padding-left: 15px; */
  font-size: 15px;
  margin-top: 5px;
  margin-right: 15px;
  padding: 5px;
}
form .page .field select{
  width: 15%;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
}
.form-radio {
  /* width: 100%; */
  margin-top: 5px;
  margin-left: 30px;
  /* margin-right: 30px;
  padding-right: 100px; */
  /* padding-left: 30px; */
  /* font-size: 18px; */
}
form .page .field p {
  width: 35%;
  /* border: 20px; */
  font-size: 15px;
  margin-top: 5px;
  /* margin-right: 10px; */
}
form .page .fieldbutton button{
  width: 80%;
  height: calc(100% + 5px);
  /* border: none; */
  border: 0.2rem outset grey;
  background: blue;
  margin-top: -20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .fieldbutton button:hover{
  background: #000;
}
form .page .btns button.prev:hover{
  background: #000;
}
form .page .btns button.next:hover{
  background: #000;
}
form .page .btns button.submit:hover{
  background: #000;
}
form .page .btns button{
  margin-top: -60px!important;
}
form .page .btns button.prev{
  margin-right: 3px;
  font-size: 17px;
  background: orange;
}
form .page .btns button.next{
  margin-left: 3px;
  background: blue;
}
form .page .btns button.submit{
    margin-left: 3px;
    background: green;
}
.containerstep .progress-bar{
  display: flex;
  margin: 40px 0;
  user-select: none;
  width: 100%;
}
.containerstep .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.containerstep .progress-bar .step p{
  font-weight: 500;
  font-size: 15px;
  color: #000;
  margin-bottom: 8px;
}
.containerstep .progress-bar .step .text p{
  font-weight: 500;
  font-size: 15px;
  color: #000;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.progress-bar .step .bullet{
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  background: blue;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}
.progress-bar .step .bullet.active{
  border-color: blue;
  background: green;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
/* .progress-bar .step .bullet span.active{
  color: green;
  transition: 0.2s linear;
} */
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 9px;
  right: -131px;
  left: 27px;
  height: 3px;
  width: 410%; /* 600% */ /* 554% */
  background: #262626;
}
.progress-bar .step .bullet.active:after{
  background: green;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: blue;
  transition: 0.2s linear;
}
.progress-bar .step .text p.active{
  color: blue;
  transition: 0.2s linear;
}
.progress-bar .step .fa{
  position: absolute;
  left: 50%;
  top: 15%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .fa.active{
  display: block;
  color: #fff;
}